body {
	font-family: serif;
	margin-right: 8pt;
}
a {
	line-height: 0.1;
	vertical-align: super;
	font-size: 0.7em;
}
sub, sup {
	line-height: 0.1;
	font-size: 0.7em;
}
table {
	font-size: 0.8em;
	font-family: Arial, sans-serif;
	margin: 0.5em;
	border-collapse: collapse;
	border: 1px solid black;
}
td {
	border: 1px solid black;
	padding: 0.3em;
}
th {
	font-weight: bold;
	text-align: center;
	border: 1px solid black;
	background-color: #CEE;
	padding: 0.3em;
}
code {
	font-family: monospace;
}
.p {
	margin: 0px;
	text-indent: 1.5em;
	text-align: justify;
}
.title-p {
	margin: 0px 0px 0.5em 0px;
}
title {
	font-weight: bold;
	page-break-inside: avoid;
	page-break-after: avoid;
}
.title1 {
	font-size: 1.8em;
	text-align: center;
	margin: 1em 0px 0.5em 0px;
}
.title2 {
	font-size: 1.5em;
	margin: 1em 0px 0.5em 1.5625em;
}
.title3 {
	font-size: 1.3em;
	margin: 1em 0px 0.5em 1.923em;
}
.title4 {
	font-size: 1.2em;
	margin: 1em 0px 0.5em 2.083em;
}
.title5 {
	font-size: 1.1em;
	margin: 1em 0px 0.5em 2.272em;
}
.title6 {
	margin: 1em 0px 0.5em 2.5em;
}
epigraph {
	text-align: left;
	font-style: italic;
	margin: 1em 1em 2em 30%;
}
image {
	text-align: center;
	padding: 3px;
}
.image-content {
	max-width: 95%;
}
.image-title {
	margin: 0px;
}
v {
	text-indent: -1em;
	padding-left: 1em;
	margin: 0px;
}
poem {
	margin: 0.5em 0px 0.5em 2em;
}
date {
	margin: 0.5em 0px 0.5em 50%;
	font-style: italic;
}
stanza {
	margin: 0.5em 0px;
	page-break-inside: avoid;
}
empty-line {
	height: 1em;
	margin: 0px;
}
cite {
	margin: 0.5em 0px 0.5em 1em;
	font-size: 0.95em;
}
subtitle {
	text-indent: 0px;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	margin: 0.5em 2em;
	page-break-inside: avoid;
	page-break-after: avoid;
}
annotation {
	margin: 1em 0px 1em 2em;
	text-indent: 0px;
	font-style: italic;
}
text-author {
	text-indent: 0px;
	margin: 0.2em 0px 0px 3em;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}
